# Copyright (c) 2024 Junhui Liu <liujh2818@outlook.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_SOPHGO_CV1800B

config SOC_SERIES
	default "cv1800b"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config RISCV_GP
	default y

config 2ND_LVL_ISR_TBL_OFFSET
	default 12

config 2ND_LVL_INTR_00_OFFSET
	default 11

config NUM_IRQS
	default 73	# 61 + 2ND_LVL_ISR_TBL_OFFSET

endif # SOC_SERIES_SOPHGO_CV1800B
