# Copyright (c) 2024 Junhui Liu <liujh2818@outlook.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_SOPHGO_CV1800B
	bool "Sophgo CV1800B"
	select RISCV
	select RISCV_PRIVILEGED
	select RISCV_HAS_PLIC
	select SOC_FAMILY_SOPHGO
	help
	  Enable support for Sophgo CV1800B SoC.
